.gfp24_section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 70rem;
  padding: 7rem 0;

  // modifiers
  &.background-blue,
  &.background-red,
  &.background-yellow {
     background-position: top center;
     background-repeat: no-repeat;
     background-size: 100vw auto;
     min-height: 53.78vw;
  }
  &.background-blue {
    background-image: url('#{$assets-path}../images/section-background-blue.svg');
  }
  &.background-red {
    background-image: url('#{$assets-path}../images/section-background-red.svg');
  }
  &.background-yellow {
    background-image: url('#{$assets-path}../images/section-background-yellow-last.svg');
  }
  &.green {
    .gfp24_section-title,
    .gfp24_section-button {
      color: $green;
    }
    .gfp24_section-button {
      &:hover,
      &:focus {
        background-color: $green;
        border-color: $green;
        color: $white;
      }
    }
  }
  &.white {
    .gfp24_section-title,
    .gfp24_section-button {
      color: $white;
    }
    .gfp24_section-button {
      &:hover,
      &:focus {
        background-color: $white;
        border-color: $white;
        color: $black;
      }
    }
  }
  &.yellow {
    .gfp24_section-title,
    .gfp24_section-button {
      color: $yellow;
    }
    .gfp24_section-button {
      &:hover,
      &:focus {
        background-color: $yellow;
        border-color: $yellow;
        color: $white;
      }
    }
  }

  > .gfp24_wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  &-image ~ &-content {
    max-width: 66rem;
  }

  &-title,
  &-intro {
    font-family: $handelson;
    font-weight: normal;
    line-height: 0.8;
  }

  &-title {
    font-size: 10.5rem;
    line-height: 8rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
    transform: translateX(-0.6rem);
  }

  &-intro {
    color: $black;
    font-size: 3.6rem;
    line-height: 3.4rem;
    margin-bottom: 5rem;
  }

  &-intro + &-button {
    margin-top: 3rem;
  }

  &-text {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  &-button {
    border: 0.3rem solid currentColor;
    color: $black;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    min-width: 25rem;
    padding: 1.3rem 5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-image {
    background: center center no-repeat;
    background-size: cover;
    flex-shrink: 0;

    &.oval {
      height: 57.7rem;
      transform: translate(20%, -9rem);
      width: 56.6rem;
    }

    &.round {
      border-radius: 50%;
      height: 36rem;
      transform: translate(14%, 0);
      width: 36rem;
    }
  }
}
