include article/_article
include aside/_aside
include cover/_cover
include features/_features
include figure/_figure
include figures/_figures
include gallery/_gallery
include icon/_icon
include intro/_intro
include navbar/_navbar
include quote/_quote
include section/_section
include video/_video
