.gfp24_gallery {
  position: relative;
  margin: 6rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  &-items {
  }

  &-item {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &-caption {
    background: linear-gradient(to right, $orange 0%, $lightyellow 100%);
    bottom: 4.5rem;
    color: $white;
    left: 0;
    padding: 2rem;
    position: absolute;
  }

  &-title {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &-title + &-text {
    margin-top: 0.5rem;
  }

  &-text {
    font-family: $handelson;
    font-size: 5rem;
  }

  .flickity-prev-next-button {
    background-color: $yellow;

    .arrow {fill: $white;}

    &:focus {
      box-shadow: 0 0 0 5px $white;
    }
  }

  @include large {
    height: 67rem;
  }
}
