.gfp24_gallery {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &-items {
  }

  &-item {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &-caption {
    color: $white;
    padding: 2rem;
  }

  &-title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &-title + &-text {
    margin-top: 0.5rem;
  }

  &-text {
    font-family: $handelson;
    font-size: 3rem;
  }

  .flickity-prev-next-button {
    .arrow {fill: $white;}

    &:focus {
      box-shadow: 0 0 0 5px $white;
    }
  }

  @include small {
    margin: 4rem 0;

    .flickity-prev-next-button {
      background-color: transparent;

      &.previous {
        left: -3.5rem;
      }
      &.next {
        right: -3.5rem;
      }
    }
  }

  @include large-and-medium {
    margin: 6rem 0;

    &-caption {
      background: linear-gradient(to right, $orange 0%, $lightyellow 100%);
      bottom: 4.5rem;
      left: 0;
      position: absolute;
    }

    &-title {
      font-size: 3rem;
    }

    &-text {
      font-size: 5rem;
    }

    .flickity-prev-next-button {
      background-color: $yellow;
    }
  }

  @include large {
    height: 67rem;
  }
}
