.gfp24_cover {
  position: relative;

  &-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;

    > svg {
      display: block;
      height: 29.5rem;
      width: 18.1rem;
    }
  }

  &-link {
    border-bottom: 0.2rem solid transparent;
    color: $white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    transition: border 0.2s ease;

    &:hover, &:focus {
      border-bottom-color: $white;
    }
  }

  &-background {
    background: center center no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;

    &:before {
      background-color: transparentize($black, 0.6);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: background-color 0.2s ease;
      z-index: 1;
    }
  }

  &-video {
    background: center top no-repeat;
    background-size: cover;
    left: 50%;
    min-height: 100%;
    min-width: 100.5%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-content {
    align-items: center;
    background: url('#{$assets-path}../images/cover-background.svg') top center no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 59.11vw;
    justify-content: center;
    padding: 2rem;
    position: relative;
    text-align: center;
    z-index: 1;

    > * {
      margin-left: auto;
      margin-right: auto;
    }

    > .gfp24_icon {
      fill: $white;
      flex-shrink: 0;
      height: 3.3rem;
      width: 3.3rem;
    }
  }

  &-title {
    font-family: $handelson;
    font-size: 8rem;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }

  &-intro {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 5rem;
    max-width: 73rem;
  }

  &-text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5rem;
    max-width: 68rem;

    p {
      margin: 0;
    }
  }

  @include medium-and-small {
    &-background {
      height: 50vh;
    }

    &-logo {
      padding-top: 5rem;
    }

    &-content {
      height: auto;
      padding: 12rem 3rem 8rem;
    }

    &-embed,
    > .gfp24_icon {
      display: none;
    }
  }

  @include large {
    &-logo {
      height: 35vw;
    }

    &-background {
      height: 45vw;
    }

    > .gfp24_icon {
      bottom: 2rem;
      fill: $white;
      height: 6.7rem;
      left: 50%;
      position: absolute;
      transition: opacity 0.2s ease;
      transform: translateX(-50%);
      width: 2.7rem;
      z-index: 1;
    }

    &-embed {
      display: none;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}
