.gfp24_intro {
  background: top center no-repeat;
  background-size: cover;
  color: $black;
  text-align: center;

  &-title,
  &-text {
    font-family: $handelson;
    font-weight: normal;
  }

  &-title {
    color: $white;
    line-height: 0.8;
    text-transform: uppercase;
  }

  &-text {
    line-height: 1;
    margin: 0 auto;

    a {
      border-bottom: 0.1rem solid;
      color: inherit;
      font-weight: 500;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover,
      &:focus {
        border-bottom: 0.2rem solid $blue;
      }
    }
  }

  @include medium-and-small {
    &-title {
      font-size: 10vw;
      margin: 0 0 1rem;
    }

    &-text {
      font-size: 3rem;
    }
  }

  @include small {
    padding: 5rem 5rem 10rem;
  }

  @include medium {
    padding: 5rem;
  }

  @include large {
    padding: 10rem 5rem 5rem;

    &-title {
      font-size: 14rem;
      margin: 0 auto 2.2rem;
      max-width: 140rem;
    }

    &-text {
      font-size: 4.5rem;
      max-width: 76rem;
    }
  }
}
