.gfp24_features {
  @include reset-list;
  display: grid;
  margin: 6rem 0;

  &-item-title,
  &-item-text {
    border-bottom: 0.1rem solid;
    padding-bottom: 3rem;
  }

  &-item-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
  }

  &-item-text {
    color: $gray33;
    font-size: 2rem;
    margin: 0;
  }

  // modifiers
  &.with-lines {
    grid-auto-flow: column;
    grid-gap: 3rem 6.6rem;
    grid-template: repeat(2, auto) / repeat(2, 1fr);

    .gfp24_features-item-title {
      align-items: flex-end;
      display: flex;
    }
  }

  &.with-dots {
    grid-gap: 6.6rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    .gfp24_features-item-title {
      border-bottom: 0;
      font-size: 2.4rem;
      border-bottom: 0;
      padding-bottom: 5.5rem;
      position: relative;

      &:after {
        border-radius: 50%;
        bottom: 0;
        content: "";
        display: block;
        height: 3.3rem;
        left: 50%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        width: 3.3rem;
      }
    }
  }

  // inherited modifiers
  .blue & {
    &-item-title,
    &-item-text {
      border-color: $blue;
    }
    &-item-title:after {
      background-color: $blue;
    }
  }
  .green & {
    &-item-title,
    &-item-text {
      border-color: $darkgreen;
    }
    &-item-title:after {
      background-color: $darkgreen;
    }
  }
  .red & {
    &-item-title,
    &-item-text {
      border-color: $pink;
    }
    &-item-title:after {
      background-color: $pink;
    }
  }
  .yellow & {
    &-item-title,
    &-item-text {
      border-color: $yellow;
    }
    &-item-title:after {
      background-color: $yellow;
    }
  }

  @include medium-and-small {
    .gfp24_article > & {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    &.with-lines {
      grid-gap: 3rem;
    }

    &.with-dots {
      grid-gap: 3rem;
    }
  }
}
