.gfp24_figures {
  display: flex;
  padding-bottom: 16rem;

  .gfp24_figure:nth-child(2) {
    transform: translateY(16rem);
  }

  .red & {
    .gfp24_figure.with-background-color {
      &:nth-child(2) {
        background-color: $red;
      }

      &:nth-child(3) {
        background-color: $pinkred;
      }
    }
  }

  @include medium-and-small {
    flex-wrap: wrap;
    padding-bottom: 10rem;

    .gfp24_figure:nth-child(2) {
      transform: none;
    }
  }
}
