include modules/_all
include icons/_sprite.svg

.gfp24_container
  +navbar(data.navbar)
  +intro(data.intro)
  .gfp24_wrapper
    if data.article
      article.gfp24_article(class=data.article.modifiers)
        +article-items(data.article.items)
