.gfp24_video {
  margin: 6rem 0;
  position: relative;

  &-embed {
    background: $yellow;
    position: relative;

    iframe {
      border-radius: 0.4rem;
      box-shadow: none;
      display: block;
      height: 52vw;
      margin: 0;
      padding: 0;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }

  @include large {
    &-embed {
      iframe {
        height: 55.1rem;
      }
    }
  }
}
