// Colors
$pink      : #DE286F;
$red       : #D90920;
$orange    : #E57325;
$turquoise : #15AF97;
$blue      : #1592CB;
$yellow    : #EDA82C;
$green     : #61AB46;

$pinkred     : #DB1E50;
$lightyellow : #F4E233;
$midblue   : #00BBFF;
$darkblue  : #28367B;
$darkgreen : #01823C;

$lightblue : #E6F8F6;
$lightbrown: #F9F7F7;

// Shades of gray
$black  : #000;
$gray1A : #1A1A1A;
$gray33 : #333;
$grayCC : #CCC;
$grayE6 : #E6E6E6;
$white  : #FFF;
